* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.st_btn {
  background: #eee;
  font-size: 2rem;
}
.st_mdl {
  position: absolute;
  background: #a9c1c1;
  width: 300;
  height: 150;
  top: 4rem;
  left: 50%;
  margin-left: -150;
}
